import os

from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.asyncio import async_sessionmaker, create_async_engine

__all__ = ["SessionLocal", "engine"]

load_dotenv()


{% if asyncio_db %}
db_url = os.environ.get("SQLALCHEMY_DATABASE_URI", "sqlite+aiosqlite:///memory:")
engine = create_async_engine(db_url, echo=False)
SessionLocal = async_sessionmaker(bind=engine, autoflush=False, future=True)
{% else %}
db_url = os.environ.get("SQLALCHEMY_DATABASE_URI", "sqlite:///memory:")
conn_args = {"check_same_thread": False} if db_url.startswith("sqlite") else {}
engine = create_engine(db_url, connect_args=conn_args, echo=False)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)
{% endif %}
