#!/bin/sh

cd "$(dirname "$0")"

if [ -f ".env" ]; then
    source .env
fi

{% if db_type != "none" -%}

if [ "$DATABASE_URL" = "" ]; then
    echo DATABASE_URL not set, aborting.
    exit 1
fi

current_revision=$(aerich history | tail -n 1)
latest_revision=$(aerich heads | tail -n 1)

if [ "$current_revision" != "$latest_revision" ]; then
  echo "Schema is not up to date. Applying latest revision..."
  aerich upgrade
else
  echo "Schema is already up to date."
fi
{% endif -%}

{% if project_type == "quart" -%}

WRAPPER=

if [ -f "newrelic.ini" ]; then
    export NEW_RELIC_CONFIG_FILE=$(pwd)/newrelic.ini
    WRAPPER="newrelic-admin run-program "
fi

$WRAPPER hypercorn main:app -b 0.0.0.0:5000 -w ${WORKERS:-1}

{% else -%}
/bin/sleep 100000
{% endif -%}
