[project]
name = "{{ pkg_name }}"
version = "0.1.0"
description = "Copier template for generic Python 3 project with tooling configuration for testing, linting and IDE support"
authors = [{ name = "Li Lin", email = "guru.lin@gmail.com" }]
readme = "README.md"
requires-python = ">= 3.12"
dependencies = [
    "python-dotenv >= 1.0.1",
{#- project_type -#}
{%- if project_type == "quart" %}
    "quart[dotenv]>=0.19.9",
    "flask-orjson>=2.0.0",
{%- endif %}
{#- db_type -#}
{%- if db_type == "postgresql" %}
    "tortoise-orm[asyncpg]>=0.22.2",
{%- elif db_type == "sqlite" %}
    "tortoise-orm>=0.22.2",
{%- endif %}
{%- if db_type != "none" %}
    "aerich>=0.8.0",
{%- endif %}
]

[tool.setuptools]
packages = ["{{ pkg_name }}"]

[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"


[dependency-groups]
dev = [
    "pytest >= 8.3.0",
    "pytest-dotenv >= 0.5.2",
    "pytest-mock >= 3.14",
    "pytest-cov >= 6.0",
    "pytest-asyncio>=0.24.0",
    "pre-commit >= 4.0.1",
    "ruff >= 0.8.2",
    "pyright >= 1.1.139",
]

[tool.uv]
managed = true

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["tests"]
pythonpath = ["."]
filterwarnings = [
    "ignore::DeprecationWarning",
]
env_files = [".env"]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.coverage.run]
source = ["."]
omit = [
    "tests/*",
]

# see ruff configuration options at
# https://docs.astral.sh/ruff/configuration/

[tool.ruff]
line-length = 90
indent-width = 4
exclude = [".git", "__pycache__", "venv", ".venv"]

[tool.ruff.lint]
select = [
    "E",
    "F",
    "W",
    "C",
    "I",
    "A",
] # Enable checks for PEP8, imports, and other standard rules
ignore = ["E203", "E266"]

{% if db_type != "none" -%}
[tool.ruff.lint.per-file-ignores]
"migrations/*.py" = ["E501"] # Ignore line too long for auto-generated migration files

[tool.aerich]
tortoise_orm = "main.TORTOISE_ORM"
location = "./migrations"
src_folder = "./."
{%- endif %}
