import asyncio
import logging
import os

import pytest

{% if project_type == "quart" -%}
from main import app
{% endif -%}

{% if db_type != "none" -%}
from {{ pkg_name }} import models as m
{% endif -%}

# suppress INFO logs to reduce noise in test output
root_logger = logging.getLogger()
root_logger.setLevel(logging.WARN)

{% if project_type == "quart" -%}
@pytest.fixture
async def client():
    async with app.test_client() as client:
        yield client
{% endif -%}

{% if db_type != "none" -%}
@pytest.fixture(scope="session")
def event_loop():
    try:
        loop = asyncio.get_running_loop()
    except RuntimeError:
        loop = asyncio.new_event_loop()
    yield loop
    loop.close()


@pytest.fixture(scope="session")
def test_db(request, event_loop):
    import tortoise.contrib.test as tortoise_test
    from tortoise import Tortoise

    test_db_url = os.environ.get("TEST_DATABASE_URL", "sqlite://:memory:")
    tortoise_test._TORTOISE_TEST_DB = test_db_url
    config = tortoise_test.getDBConfig(app_label="models", modules=["{{ pkg_name }}.models"])
    event_loop.run_until_complete(tortoise_test._init_db(config))
    event_loop.run_until_complete(seed_db())

    if os.environ.get("KEEP_TEST_DB", "N").upper() not in ["Y", "1"]:
        request.addfinalizer(
            lambda: event_loop.run_until_complete(Tortoise._drop_databases())
        )


async def seed_db():
    await m.User(login_name = "root").save()
{% endif -%}
